<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Disaster response project</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p.centered { 
   text-align: center;
}

</style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header active">
            <a class="navbar-brand" href="/" style="color:white" >Disaster Response Project</a>
        </div> 

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://github.com/gajdulj/disaster_response">Github</a></li>
                <li><a href="https://www.linkedin.com/in/jakub-gajdul-15b925107/">LinkedIn</a></li>
            
            </ul>
          <p class="navbar-text pull-right">
            Jakub Gajdul
          </p>

        </div>

    </div>

</nav>


<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Disaster Response Project</h1>
        <p class="text-center">Analyzing message data for disaster response</p>
        <hr />
      
        <div class="row">
            <div class="col-lg-12 form-group-lg">
                <form action="/go" method="get">
                    <input type="text" class="form-control form-control-lg" name="query" placeholder="Enter a message to classify">
                    <div class="col-lg-offset-5">
                        <button type="submit" class="btn btn-lg btn-success">Classify Message</button>
                    </div>
                </form>
            </div>
        </div>

        {% block message %}
        {% endblock %}
    </div>
</div>

    <p class="centered">The purpose of this project was to gain experience in writing Data Engineering Pipelines, Machine Learning Pipelines and learning the basics of web development.
    <br> <br>
    I have analysed the disaster data from <a href="https://www.figure-eight.com/">Figure Eight</a> and built a multilabel classifier model for an API that classifies disaster messages.
    <br> <br>
    Use the box above to see how classifier works and see below for exploration of the dataset. You can find more detailed analysis on my <a href="https://github.com/gajdulj/">Github</a>.
    </p>

<!-- matplotlib  -->
<div class="plots" >
	        <div class="page-header">
            <h1 class="text-center">Commonly used words</h1>
        	</div>

    <p class="centered">To better understand the dataset, I have had a look at the words used across all the messages. <br> From a quick look I have noticed that most popular words are "water","people" and "food".
    </p>

    <br>
        <img src="/static/wordcloud-dark.png" alt="Wordcloud" >

    <br>
    <p class="centered">To further drill down to words specific to each of the categories, select a category below.
    </p>

<div class="myform" style="text-align: center">

<form action="/select" method="get">

<select name= category method="get" action="/select">

    {% for genre in genre_names %}
    <option value= "{{genre}}" SELECTED>{{genre}}</option>"
    {% endfor %}

</select>

<input type="submit">

</form>


<br><br>


<div class="container">
    {% block content %}
        <div class="page-header">
            <h1 class="text-center">Overview of Training Dataset</h1>
        </div>
    {% endblock %}

    {% for id in ids %}
        <div id="{{id}}"></div>
    {% endfor %}
</div>

<script type="text/javascript">
    const graphs = {{graphJSON | safe}};
    const ids = {{ids | safe}};
    for(let i in graphs) {
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    }
</script>


<div class="jumbotron text-center" style="margin-top: 15px;
  margin-bottom: 0px; padding: 5px">
    <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://uk.linkedin.com/in/jakub-gajdul-15b925107/"> Jakub Gajdul</a>
  </div>
  <!-- Copyright -->
</div>
</body>
</html>
